@import 'scss/all-utilities';

.small-form-module {
   max-width: 22.8125rem;
   padding-bottom: 0;

   &.module {
      @include reset-module();
   }
}

.large-form-module {
   min-width: 22.8125rem;
   max-width: 30.625rem;
   padding-bottom: 0;

   &.module {
      @include reset-module();
   }
}

// Icon

.login-icon {
   text-align: center;
}

.icon-container {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin: 2.1875rem 0 3.75rem;
   padding: 3rem;
   border-radius: 50%;
   box-shadow: 0 0 4.0625rem $navy-box-shadow;
   background: #fff;
}

// Form

.small-form-module form {
   margin: 0;

   > div:first-child {
      padding-left: 1.5625rem;
      padding-right: 1.5625rem;
   }
}

.login-input, .password-input {
   &.form-control {
      padding-left: 2.75rem;
      background-position: 1.0625rem;
      background-repeat: no-repeat;
   }
}

.login-input {
   background-image: url('../human-icon.svg');
}

.password-input {
   background-image: url('../lock-icon.svg');
}

.checkbox {
   margin: 1.25rem 0;
}